<!-- Essa linha significa que essa página (Homepage) é filha da base principal ('main_base.html'), onde está sua estrutura. Esse arquivo aqui é tipo um componente. -->


<!-- Dentro do bloco 'content' é onde deve estar o conteúdo de qualquer página. -->
{% extends 'bases/main_base.html' %}

<!-- Dentro do bloco 'content' é onde deve estar o conteúdo de qualquer página. -->
{% block content %}
<link rel="stylesheet" href="../../static/css/signup.css" />
<title>Lave-in | Registro</title>
<div class="container-fluid ps-md-0">
	<div class="row g-0">
		<div class="d-none d-md-flex col-md-8 col-lg-6 bg-image"></div>
		<div class="col-md-9 col-lg-4">
			<div class="login d-flex align-items-center py-5">
				<div class="container">
					<a class="btnvoltar" href="{% url 'pages:homepage' %}">Voltar</a>
					<div class="row">
						<div class="registro">
							<div class="col-12">
								<h3>Registre-se |<br> É gratuito!</h3>
								<form method="post">
									{% csrf_token %} 
									{% for field in form %}
										<div class="fieldWrapper">
											{{ field.errors }}
											{{ field.label_tag }} {{ field }}
										</div>
									{% endfor %}

									<button class="btn-registro" type="submit">
										Registrar
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				{% endblock %}
			</div>
		</div>
	</div>
</div>
