
<!-- Essa linha significa que essa página (Homepage) é filha da base principal ('main_base.html'), onde está sua estrutura. Esse arquivo aqui é tipo um componente. -->
{% extends 'bases/main_base.html' %}

<!-- Imports que cada "componente" (ou seja, arquivo de template) pode ter. A base principal já tem alguns, que vem junto. -->


<!-- Dentro do bloco conteúdo é onde deve estar o conteúdo de qualquer página. -->
{% block content %}

<title>Lave-in | Cadastro de lavanderias </title>
{% include 'bases/navbar.html' %}
<link rel="stylesheet" href="../../static/css/main.css"/>
<link rel="stylesheet" href="../../static/css/ads_create.css"/>
<div class="jumbotron jumbotron-fluid">
  
    <div class="main-page">
        <div class="ads-container">
            <h2>Criar lavanderia</h2>
            
            <form method="post" action="createAd">{% csrf_token %}
                <div class="form-group mt-5">
                    <label for="title">Titulo</label>
                    <input 
                        type="name" 
                        class="form-control"
                        id="title"
                        name="title"
                        aria-describedby="title"
                        required
                        placeholder="Digite o titulo"
                        minlength="6"
                        maxlength="80">
                </div>
                <div class="form-group mt-4">
                    <label for="description">Descrição</label>
                    <textarea 
                        class="form-control"
                        id="description"
                        name="description"
                        rows="3"
                        required
                        placeholder="Digite uma breve descrição da lavanderia e seus serviços"
                        minlength="20"
                        maxlength="200"></textarea>
                </div>
                <div class="form-group mt-4">
                    <label for="complete_address">Endereço completo</label>
                    <input 
                        type="name"
                        class="form-control"
                        id="complete_address"
                        name="complete_address"
                        aria-describedby="complete_address"
                        required
                        placeholder="Digite o endereço completo"
                        minlength="16"
                        maxlength="80">
                </div>
                <div class="form-group mt-4">
                    <label for="photo1_url">Foto 1 (URL)</label>
                    <input 
                        type="name"
                        class="form-control"
                        id="photo1_url"
                        name="photo1_url"
                        aria-describedby="photo1_url"
                        required
                        placeholder="Url da primeira foto"
                        minlength="20"
                        maxlength="200">
                </div>
                <div class="form-group mt-4">
                    <label for="photo1_url">Foto 2 (URL)</label>
                    <input 
                        type="name"
                        class="form-control"
                        id="photo2_url"
                        name="photo2_url"
                        aria-describedby="photo2_url"
                        placeholder="Url da segunda foto"
                        minlength="20"
                        maxlength="200">
                </div>
                <div class="form-group mt-4">
                    <label for="photo1_url">Telefone</label>
                    <input 
                        type="name"
                        class="form-control"
                        id="phone"
                        name="phone"
                        aria-describedby="phone"
                        placeholder="Escreva no formato (XX) XXXXX-XXXX"
                        minlength="10"
                        maxlength="16">
                </div>
                <button type="submit" class="btn btn-primary mt-5 mb-5">Criar</button>
            </form>
        </div>

    </div>
  
</div>



{% endblock %}
