.body{
    font-family: 'Roboto', sans-serif;
    background-color: #0074E0!important;
}
.main-page {
    display: flex;
    flex-direction: column;
}

.main-page .row-carousel{
    background-color: #0074E0;
    display:flex;
    flex-grow: 2;
}


.main-page .btn-light{
    width: 200px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}


.main-page .left-painel h1{
    font-weight: 700;
    font-size: 48px;
    margin: 50px 0 10px 0;
}

.main-page .left-painel p{
    font-size: 16px;
    margin-bottom: 30px;
}

.main-page .carousel .item{
    max-width: 600px;
    max-height: 400px;
}

.main-page .carousel .item img{
    max-width: 600px;
    max-height: 400px;
    object-fit: fill;
    width:100%;
}

.main-page .main-rating{
    margin-top: 50px;
    color: black;
    /* background-color: red; */
}

.main-page .main-rating span{
    color: #FBBC04;
}

.main-page .main-rating .col{
    padding: 0 30px;
}