.Icon-container {
	display: flex;
	flex-direction: row;
}

.navbar-brand-name {
	margin-left: 5px;
	color: white;
	font-family: Roboto;
	font-weight: bolder;
	font-size: large;
	margin-top: auto;
	margin-bottom: auto;
}

.nav-link {
	margin-left: 20px;
}

.navbar {
	border-radius: 0 !important;
}

.navbar-user-email {
	color: white;
	margin-left: 30%;
	margin-top: 8px;
	font-size: 12px;
}
