.Icon-container {
	display: flex;
	flex-direction: row;
}

.navbar-brand-name {
	margin-left: 5px;
	color: white;
	font-family: Roboto;
	font-weight: bolder;
	font-size: large;
	margin-top: auto;
	margin-bottom: auto;
}

.nav-link {
	margin-left: 20px;
}

.navbar {
	border-radius: 0 !important;
}

.navbar-user-email {
	color: rgb(255, 255, 255);
	margin-top:0.45vw;
    float: right;
	font-size: 1.1vw;
	font-family: Roboto;
	font-weight: bold;
}
