.registro {
	color: black;
	font-family: Roboto;
	font-size: 1vw;
	font-style: inherit;
	font-weight: 900;
	min-height: 100vh;
	border-radius: 5px;
}
.registro h3 {
	font-weight: 900;
	font-size: 6vw;
	margin-bottom: 8vh;
	color: #0067c4;
}

.registro form input {
	border: none;
	border-bottom: 2px solid #0067c4;
	place-content: unset;
}

.registro form label {
	color: #0067c4;
}

.bg-image {
	background-image: url("../css/assets/Lave-in.png");
	background-size: cover;
	background-position: center;
	margin-right: 9vw;
}
.registro-heading {
	font-weight: 300;
}

.btn-registro {
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
}
