{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand py-3">
            Barra de Navegação
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto text-center text-md-left">
                <a class="nav-link active" href="{% url 'pages:homepage' %}">Home</a>
                <a class="nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-link" href="{% url 'signup' %}">Registro</a>
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
{% endblock %}